<settings>
	<setting propertyKey="@Properties.pomodoroLength" title="@Strings.PomodoroLength">
		<settingConfig type="numeric" min="1" />
	</setting>
	<setting propertyKey="@Properties.shortBreakLength" title="@Strings.ShortBreakLength">
		<settingConfig type="numeric" min="1" />
	</setting>
	<setting propertyKey="@Properties.longBreakLength" title="@Strings.LongBreakLength">
		<settingConfig type="numeric" min="1" />
	</setting>
	<setting propertyKey="@Properties.numberOfPomodorosBeforeLongBreak" title="@Strings.NumberOfPomodorosBeforeLongBreak">
		<settingConfig type="numeric" min="1" />
	</setting>
	<setting propertyKey="@Properties.tickStrength" title="@Strings.TickStrength">
		<settingConfig type="numeric" min="0" max="100" />
	</setting>
	<setting propertyKey="@Properties.tickDuration" title="@Strings.TickDuration">
		<settingConfig type="numeric" min="80" max="1000" />
	</setting>
	<setting propertyKey="@Properties.muteSounds" title="@Strings.MuteSounds">
		<settingConfig type="boolean" />
	</setting>
</settings>
